PDK_DIR
docs
*.svf
alib-52
timingReports
innovus.cmd*
innovus.log*
*.rpt*
*.bin
innovus.log*
filenames.log
command.log
*_man.log
pt_shell_command.log
parasitics_command.log
simv.daidir/*
csrc/*
simv
ucli.key
*.vcd
*.saif